

<div  class="fixed-header  row col-md-12" style="border-radius:20% ">
    <nav class="navbar  navbar-expand-lg navbar-absolute " style="background: linear-gradient(to left, #f7f8f8, #f9fafa); border-radius: 1%; overflow: hidden;padding-left: 10;">
  <div class="container-fluid ">   
     <button class="white" mat-icon-button (click)="toggleSideBar()">
        <span style="font-size: 24px;">☰</span>
        </button>
        <a  class="simple-text">
            
 
                <span class="ml-2 logo-text">Lion International Bank -  telebirr Merchant</span>
            <!-- <span class="ml-2 logo-text">Lion International Bank - FANA </span> -->
        </a>
      
        <div class="collapse navbar-collapse mr-5 justify-content-end" id="navigation">
            <ul class="navbar-nav mr-5">
                <li class="nav-item mr-5 ">
                          <div class="col-md-4 ">
                            <a class="nav-link"  href="#" (click)="logout()">
                                <p>
                                    <span class="nav-link-text">  <span style="font-size: 24px; display: inline-block; text-align: center;">
                                   
                                        <i class="material-icons icon-blue">logout</i> 
                                      </span>logout</span>
                                </p>
                            </a>
                        </div>
                
                </li>
            </ul>
        </div>
        
    </div>
    </nav>
</div>







<!-- <mat-toolbar style="background: linear-gradient(to right, rgb(233, 200, 12), rgb(255, 102, 0))">

    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> APP LOGO </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->